.glyphicon{
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/*表单组件*/
.filtrate_item .item_title{
	display: inline-block;
	width:100px;
	text-align: right;
	vertical-align: middle;
}

.filtrate_item .item_alignLeft{
	width: auto;
	display: inline-block;
	text-align: right;
	vertical-align: middle;
}

.filtrate_item .select_component{
	position:relative;
	display: inline-block;
	width:140px;
	height:20px;
	border:1px solid #ccc;
	vertical-align: middle;
	cursor:pointer;
}
.filtrate_item .select_component > .checked_text{
	position:relative;
	display: block;
	width:100%;
	height:100%;
	line-height: 18px;
	text-indent: 10px;
	background-color:transparent;
	z-index: 10;
	cursor:pointer;
}
.filtrate_item .select_component .select_list{
	display: none;
	position:absolute;
	top:19px;
	left:-1px;
	width:140px;
	background-color:transparent;
	border:1px solid #ccc;
	border-top:none;
	z-index: 8;
}
.filtrate_item .select_component .select_list li{
	height:20px;
	background-color:#fff;
	line-height: 20px;
	text-align: left;
	text-indent: 10px;
}
.filtrate_item .select_component .select_list li + li{
	border-top:1px solid #ccc;
}
.filtrate_item .select_component .iconfont{
	z-index: 9;
}
.filtrate_item .moreHeight{
	height:30px !important;
}

.filtrate_item .moreWidth{
	width: 300px !important;
}

.filtrate_item .iconfont{
	position:absolute;
	top:0;
	right:0;
	width:18px;
	height:18px;
	line-height: 18px;
	font-size:12px;
	color:#fff;
	text-align: center;
	background-color:#9bd3ab;
	z-index: 10;
}

.filtrate_item .bigIconFont{
	width:28px;
	height:28px;
	line-height: 28px;
	font-size:16px;
}

.filtrate_item .time_component{
	position:relative;
	display: inline-block;
	width: 140px;
	height:20px;
	border:1px solid #ccc;
	vertical-align: middle;
	cursor: pointer;
}
.filtrate_item .time_component .iconfont{
	font-size:14px;
	color:#31a59d;
	background-color: transparent;
}
.filtrate_item .time_component input{
	width:100%;
	height:100%;
	border:none;
	text-indent: 5px;
}

.filtrate_item .input_component{
	display: inline-block;
	width:140px;
	height:20px;
	border:1px solid #ccc;
	vertical-align: middle;	
}
.filtrate_item .input_component input{
	width:100%;
	height:100%;
	border:none;
	text-indent: 5px;
}

.filtrate_item .textarea_component{
	display: inline-block;
	width:923px;
	height:50px;
	border:1px solid #ccc;
	vertical-align: middle;
}

.filtrate_item .textarea_component textarea{
	width:100%;
	height:100%;
	border:none;
	text-indent: 5px;
	resize: none;
}

.button{
	display: inline-block;
	width:100px;
	height:30px;
	border:none;
	border-radius: 3px;
	background-color: #31a59d;
	text-align: center;
	line-height: 30px;
	color:#fff;
}
.btns-module{
	padding:0 0 20px 30px; 
}
.btns-module .button{
	margin-right:10px;
}

.head_btn>span{
	display: inline-block;
	text-align: right;
	vertical-align: middle;
}

.btn_form{
	margin-top: 10px;
}

.bottom_form{
	border: 1px solid #238f7b;
	padding: 20px;
	margin-top: 5px;
}

.ui-jqgrid{
	width:100%!important;
}
.ui-jqgrid .ui-jqgrid-view{
	width:100%!important;
	overflow-x: auto; 
}
.ui-jqgrid-bdiv{
	height:auto!important;
	overflow: hidden!important;
}
.ui-jqgrid-htable th{
	background-color:#31a59d;
	color:#fff;
}
.jqGrid_wrapper{
	padding:20px 30px;
	border-top:1px solid #31a59d;
}
.ui-jqgrid-view{
	border:1px solid #31a59d;
}
.ui-jqgrid tr.ui-row-ltr td:last-child{
	border-right:none;
}
.ui-jqgrid tr.ui-row-ltr td{
	height:30px;
	line-height: 30px;
	border-color:#31a59d;
}
.ui-jqgrid tr.ui-row-ltr[aria-selected="true"] td{
	color:red;
}
.ui-jqgrid-htable th + th{
	height:30px!important;
	font-weight: normal;
	border:none!important;
	border-left:1px solid #fff!important;
}
#jqGridPager{
	margin-bottom:10px;
}
#jqGridPager .iconfont{
	display: inline-block;
	vertical-align: middle;
	cursor:pointer;
}
#jqGridPager .icon-pagination-prev,#jqGridPager .icon-pagination-next{
	font-size:18px;
	color:#31a59d;
}
#jqGridPager .icon-sanjiaojiantou01{
	padding-right:10px;
	color:#31a59d;
}
#jqGridPager .icon-zhongchaosanjiaojiantou01{
	padding-left:10px;
	color:#31a59d;
}
#jqGridPager .icon-pagination-prev.isFirst,#jqGridPager .icon-sanjiaojiantou01.isFirst{
	color:#666;
}
#jqGridPager .icon-pagination-next.isLast,#jqGridPager .icon-zhongchaosanjiaojiantou01.isLast{
	color:#666;
}
#jqGridPager .input-pageNo{
	display: inline-block;
	vertical-align: middle;
}
#jqGridPager .input-pageNo input{
	width:50px;
	padding-left:5px;
}
#jqGridPager .button{
	display: inline-block;
	width:40px;
	height:20px;
	line-height: 20px;
	margin-left:15px;
}