.big_container{
	width: 100%;
	height: 100%;
	overflow: auto;
}

.container_bg{
	position: absolute;
	z-index: -1000;
	opacity: 0.2;
	width: 100%;
	height: 100%;
}


.container_m{
	padding: 0;
	font-size: 17px;
	color: #333;
}

.main_content{
	width: 1200px;
	height: 100%;
	margin: 0 auto;
	padding-top: 60px;
}

.fp_server{
	width: 555px;
	border: 1px solid #238f7b;
	border-radius: 5px;
	padding: 30px 20px 0 20px;
	box-sizing: border-box;
	position: relative;
	background: #fff;
}

.fp_server>.title{
	background: #31a59d;
	color: #fff;
	padding: 4px 10px;
	position: absolute;
	top: -17px;
	left: 20px;
}

.fp_server p{
	margin: 5px 0 0 0;
}

.category{
	margin-bottom: 10px;
}

.category a{
	display: inline-block;
	width: 50%;
	color: #31a59d;
	margin-top: 5px;
}
.category a:hover{
	cursor: pointer;
	text-decoration: none;
	color: #31a59d;
}

.reward_support{
	width: 555px;
	border: 1px solid #0077c9;
	border-radius: 5px;
	padding: 30px 20px 15px 20px;
	box-sizing: border-box;
	position: relative;
	background: #fff;
	margin-top: 40px;
	margin-bottom: 40px;
}

.reward_support p{
	margin: 0;
}

.reward_support label{
	font-size: 14px;
	color: #666666;
	padding-left: 20px;
	display: block;
	margin-bottom: 0;
}

.reward_support>.title{
	background: #0077c9;
	color: #fff;
	padding: 4px 10px;
	position: absolute;
	top: -17px;
	left: 20px;
	font-size: 17px;
}

.reward_sys,.special_sys{
	width: 45%;
}

.reward_sys{
	margin-right: 10%;
}

.reward_support .node_name{
	color: #0077c9;
	margin-top: 5px;
}

.main_right{
	width: 550px;
	margin-left: 95px;
}

.main_right ul{
	width: 100%;
}

.main_right li{
	width: 33.3333333333%;
	text-align: center;
	margin-bottom: 45px;
}

.main_right img{
	cursor: pointer;
}

.main_right li p{
	margin-top: 15px;
}



