.infoInput{
	padding: 10px;
<<<<<<< HEAD
}

.item_alignLeft{
	width: auto;
=======
>>>>>>> 3fbaaeeb49dea780e9861c148cd85c0c010176a7
}

.filtrate_item{
	margin: 0 20px 12px 0;
}

.long_width{
	width: 360px;
}

.filtrate_item .long_select{
	width: 255px;
}

.bottom_form .filtrate_item{
	margin: 0 90px 12px 0;
}

.btn_infoInput{
	display: inline-block;
	padding: 0;
}

.bottom_form .filtrate_item{
	margin: 0 100px 12px 0;
}

.btn_infoInput{
	display: inline-block;
	padding: 0;
}


