.infoInput{
	padding: 10px;
}

.filtrate_item{
	margin: 0 20px 12px 0;
}

.long_width{
	width: 360px;
}

.filtrate_item .long_select{
	width: 255px;
}

.bottom_form .filtrate_item{
	margin: 0 90px 12px 0;
}

.btn_infoInput{
	display: inline-block;
	padding: 0;
}

.bottom_form .filtrate_item{
	margin: 0 100px 12px 0;
}

.btn_infoInput{
	display: inline-block;
	padding: 0;
}

.myModal_header{
	background: #31a59d;
	color: #fff;
	line-height: 30px;
	padding: 0 10px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.mymodal_title{
	line-height: 30px;
	font-size: 16px;
}

.myModal_close{
	line-height: 30px;
	color: #fff;
	font-size: 24px;
	text-shadow: 0 0 0 #fff;
    opacity: 1; 
}

.modal-content{
	border: 1px solid #31a59d;
}

.modal-body{
	padding: 10px;
}

.modal_formContent{
	padding: 15px 5px;
}

.famale_checkbox{
	margin-left: 20px;
}

.textarea_modal{
	display: inline-block;
	width: 87%;
	vertical-align: top;
}

.textarea_modal textarea{
	width: 100%;
	height: 120px;
	border: 1px solid #31a59d;
	resize: none;
	text-indent: 5px;
}

.modal_span{
	padding-left: 5px;
}

.inputTime_modal{
	margin-left: 150px;
}

.modal-footer{
	border-top: none;
	text-align: center;
}

.modal-dialog{
	width: 750px;
}

.fjxx_height{
	height: 40px;
}

.fjxx_height label{
	display: inline-block;
	width: 160px;
}

.submit_button{
	width: 200px;
	height: 40px;
	font-size: 20px;
	margin-top: 20px;
	margin-bottom: 50px;
}

.file_input{
	position: relative;
	display: inline-block;
	width: 220px;
	height: 30px;
	margin-right: 20px;
	border: 1px solid #31a59d;
	vertical-align: middle;
}

.file_input .file{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
}

.file_name{
	display: inline-block;
	width: 138px;
	height: 100%;
	font-size: 13px;
	line-height: 28px;
	padding-left: 10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.file_tips{
	width: 80px;
	height: 100%;
	line-height: 30px;
	float: right;
	color: #fff;
	font-size: 13px;
	text-align: center;
	background: #31a59d;
}

.fjxx_btn{
	width: 80px;
	margin-right: 5px;
	vertical-align: middle;
}

