.infoInput{
	padding: 10px;
}

.item_alignLeft{
	width: auto;
}

.filtrate_item{
	margin: 0 20px 12px 0;
}

.long_width{
	width: 360px;
}

.filtrate_item .long_select{
	width: 255px;
}

.bottom_form .filtrate_item{
	margin: 0 90px 12px 0;
}

.btn_infoInput{
	display: inline-block;
	padding: 0;
}


