.bgImg{
	width: 100%;
	height: 100%;
}

.container{
	position: absolute;
	top: 165px;
	left: 35%;
}

.title{
	font-size: 40px;
	color: #31a59d;
}

.logoImg{
	padding: 38px 32px 40px 32px;
	box-sizing: border-box;
	background: #fff;
	border-radius: 50%;
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
	margin-top: 40px;
	margin-left: 30%;
	z-index: 11;
}

.logInfo{
	box-shadow:  0 0 5px rgba(0,0,0,0.3);
	background: #fff;
	margin-top: -70px;
	padding: 80px 40px 50px 40px;
	z-index: 101;
}

.logInfo input{
	border: none;
	outline:none;
}

.logInfo>div{
	margin-bottom: 38px; 
	border-bottom: 1px solid green;
	padding-bottom: 3px;
}

.logInfo img{
	display: inline-block;
	margin-right: 5px;
	vertical-align: sub;
}

.loginBtn{
	width: 100%;
	height: 50px;
	background: #31a59d;
	border-radius: 5px;
	outline: none;
	border: none;
	color: #fff;
}

