.container_m{
	flex: 1;
	padding-top: 2px;
}

.left_bar{
	width: 18%;
	height: 100%;
	min-width: 200px;
	position: relative;
	padding-top: 30px;
	box-sizing: border-box;
}

.bar_head{
	background: #cee8d8;
	color: #33a49d;
	height: 30px;
	width: 100%;
	line-height: 30px;
	position: absolute;
	top: 0;
	left: 0;
}

.bar_head>i{
	display: inline-block;
	position: absolute;
	top: 10px;
	left: 20px;
	width: 10px;
	height: 10px;
	background: #31a59d;
}

.bar_head>label:nth-child(2){
	margin-left: 40px;
}

.bar_head>label:nth-child(3){
	margin-right: 10px;
	cursor: pointer;
}

#treeView{
	height: 100%;
	border: 1px solid #23907a;
}

.right_content{
	width: 82%;
}

.icon_tab{
	position: absolute;
    top: -6px;
    right: 3px;
    font-size: 20px;
    cursor:pointer
}

.nav-tabs>li.active{
	color: #fff;
}

.nav-tabs>li{
	color: #31a59d;
}

#myTabContent{
	padding: 20px 10px;
}
